doctype html
html
    head
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        title= "Favorites"
        style 
            include ../public/styles/hamburguesa.css
            include ../public/styles/favorites.css
    body
        include ./header.pug
        div
            each _offert in _offerts
                a(href="ofert.url")
                div(class="eachOffer")
                    h3 Título: #{_offert.title}
                        a(id="favoriteIcon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css") 
                            i.fas.fa-star
                    p Salario: #{_offert.salary}
                    p Empresa: #{_offert.company}
                    
    include ./footer.pug