header
    nav 
        div(class="burger")
                input(
                    type="checkbox"
                    id="menu")
                label(
                    for="menu"
                ) ☰
                ul(
                    class="desplegable"
                )  
                    a(href="/", ): li  Inicio 
                    if !log.loggedIn
                        a(href="/signup"): li Registrarse 
                        a(href="/login"): li Ingresar
                    if log.loggedIn
                        a(href="/favorites"): li Ofertas favoritas 
                        a(href="/profile"): li Perfil de usuario 
                                            
                    if log.admin
                        a(href="/users"): li Listado de usuarios 
                        a(href="/dashboard"): li Crear oferta
                    if log.loggedIn
                        a(href="/"): li 
                            form(action="/api/logout" method="POST" class="logout")
                                input(type="submit" value="Logout" class="logout")
    div(class="title") 
        h1 "Esto es el titulo de la app"    