header
    nav 
        input(
            type="checkbox"
            id="menu")
        label(
            for="menu"
        ) ☰
        div(
            class="desplegable"
        )  
            a(href="/") Inicio 
            a(href="/signup") Registrarse 
            a(href="/login") Ingresar