doctype html
html
    head
        title= "Login"
        style 
            include ../public/styles/hamburguesa.css
            include ../public/styles/login.css
    body
        include ./header.pug
        main
                h2= "Login" 
                form(action="/api/login" method="POST")
                    div(class="containerdiv")
                        div(class="data")
                        input(type="email" placeholder="Email" name="email")
                        input(type="password" placeholder="Password" name="pass")
                        div(class="send")
                        button(class="send" type="submit") Ingresar
        include ./footer.pug