doctype html
html
    head
        title= "Login"
    body
        include ./header.pug
        main
            div
                h2= "Login" 
                form(action="/api/login")
                    input(type="text" placeholder="Email")
                    input(type="password" placeholder="Password")
                    input(type="submit")
        include ./footer.pug