@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=M+PLUS+2:wght@200;300&family=Montserrat&family=Open+Sans:wght@800&family=Oswald&family=Outfit:wght@300;700&family=Poppins:wght@400;900&family=Quicksand&family=Raleway:wght@300;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=M+PLUS+2:wght@200;300&family=Montserrat&family=Open+Sans:wght@800&family=Oswald:wght@200&family=Outfit:wght@300;700&family=Poppins:wght@400;900&family=Quicksand&family=Raleway:wght@300;900&family=Roboto&display=swap');
.containerdiv {
    display:flex;
    flex-direction: column;
}
h3 {
    margin:0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: rgba(16, 0, 59, 0.952);
}
p {
    font-family: 'Oswald', sans-serif;
    margin:1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;  
    color: rgba(34, 34, 34, 0.993);
}
.eachOffer{
    background-color: rgba(211, 220, 228, 0.39);;
    margin-top: 1rem;
    border-style: solid;
    border-color: slategrey;
    border-radius: 8px;
}
button {
    margin-bottom: 0.5rem;
    margin-left:0.5rem; 
   
}

#favoriteIcon {
    size: 1.5rem;
    color: yellow;
}

.crearoferta {
    margin-top: 1rem;
    font-size: 1.7rem;
}