@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=M+PLUS+2:wght@200;300&family=Montserrat&family=Open+Sans:wght@800&family=Oswald&family=Outfit:wght@300;700&family=Poppins:wght@400;900&family=Quicksand&family=Raleway:wght@300;900&family=Roboto&display=swap');

.mainHeader {
    width: 99vw;
    display: flex;
    background: url('https://img.freepik.com/vector-gratis/vector-tecnologia-circulo-bulbo-azul-claro-lampara-fondo-tecnologia_43778-422.jpg?size=626&ext=jpg') no-repeat center center/cover;

}
.desplegable {
    display: none;
    border-radius: 5px;
}
#menu:checked  ~ ul{
    display:block;
    border-radius: 5px;
}
#menu {
    display:none;
}
label {
    box-sizing: border-box;
    display: inline-block;
    border: 0.0625rem solid rgba(16, 0, 59, 0.952);
    color: rgba(16, 0, 59, 0.952);
    background-color: rgba(136, 231, 255, 0.952);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-top: 0.9rem;
    margin-left: 0.5rem;
}
label:hover {
    background-color:  rgba(255, 255, 255, 0.952);
    color: rgba(16, 0, 59, 0.952);
}
/* Estilo cuando está expandido */
ul {
    position: absolute;
    margin-top:0;
    padding: 0;
    width: 12.5rem;
    z-index: 1;
    border-radius: 5px;
}
li {
    font-family: 'Montserrat', sans-serif;
    display: block;
    background-color:rgba(136, 231, 255, 0.952);
    margin: 0;
    padding: 0.625rem;
    list-style: none;
    color: rgb(14, 0, 51);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(14, 0, 51);
    border-width: 0.03rem;
}
a {
    text-decoration: none;
}
li:hover {
    filter: brightness(110%);
    cursor: pointer;
    color:rgba(16, 0, 59, 0.952);
    background-color:  rgb(255, 255, 255);
}

.title{
    margin-left: auto;
    margin-right: auto;
}

 
 