@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=M+PLUS+2:wght@200;300&family=Montserrat&family=Open+Sans:wght@800&family=Oswald&family=Outfit:wght@300;700&family=Poppins:wght@400;900&family=Quicksand&family=Raleway:wght@300;900&family=Roboto&display=swap');

.containerdiv {
    display:flex;
    flex-direction: column;
    align-content: center;
}

#users{
    overflow-y: scroll;
}

.eachUser {
    background-color: rgba(211, 220, 228, 0.39);;
    margin-top: 1rem;
    border-style: solid;
    border-color: slategrey;
    border-radius: 5px;
}

.ficha{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.ficha p{
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

h3 {
    text-align: center;
    margin:0.7rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: rgba(16, 0, 59, 0.952);
}

p {
    font-family: 'Oswald', sans-serif;
    margin:1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;  
    color: rgba(34, 34, 34, 0.993);
}
.avatar{
    width: 40%;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

button{
    font-family: 'Montserrat', sans-serif;
    height: 5vh;
    border-radius: 1vh;
    background-color: #3374ffa6;
    box-shadow: inset -1px 3px 8px 5px #3374ff, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(255,255,255,0);
    font-size: 3vh;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.button:hover {
    background-color: rgba(26, 0, 59, 0.952);
    color: white;
}

.create{
    margin-bottom: 1rem;
}